<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.rz.iot.think.mapper.SysOrganizationMapper" >
  <resultMap id="BaseResultMap" type="com.rz.iot.think.model.SysOrganization" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="area_rel_id" property="areaRelId" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="describe" property="describe" jdbcType="VARCHAR" />
    <result column="parent_id" property="parentId" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, area_rel_id, status, `describe`, parent_id, create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from sys_organization
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from sys_organization
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.rz.iot.think.model.SysOrganization" >
    insert into sys_organization (id, name, area_rel_id, 
      status, `describe`, parent_id,
      create_time, update_time)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{areaRelId,jdbcType=INTEGER}, 
      #{status,jdbcType=INTEGER}, #{describe,jdbcType=VARCHAR}, #{parentId,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.rz.iot.think.model.SysOrganization" >
    insert into sys_organization
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="areaRelId != null" >
        area_rel_id,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="describe != null" >
        `describe`,
      </if>
      <if test="parentId != null" >
        parent_id,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="areaRelId != null" >
        #{areaRelId,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="describe != null" >
        #{describe,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null" >
        #{parentId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.rz.iot.think.model.SysOrganization" >
    update sys_organization
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="areaRelId != null" >
        area_rel_id = #{areaRelId,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="describe != null" >
        `describe` = #{describe,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null" >
        parent_id = #{parentId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.rz.iot.think.model.SysOrganization" >
    update sys_organization
    set name = #{name,jdbcType=VARCHAR},
      area_rel_id = #{areaRelId,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      `describe` = #{describe,jdbcType=VARCHAR},
      parent_id = #{parentId,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <resultMap id="DetailResultMap" type="com.rz.iot.think.model.show.IotRoleSettingOrganizationShowDetail">
    <id property="id" column="id"></id>
    <result property="name" column="name"></result>
    <result property="describe" column="describe"></result>
    <result property="createTime" column="create_time"></result>
    <result property="parentName" column="parent_name"></result>
    <result property="parentId" column="parent_id"></result>

    <association property="provinceName" javaType="com.rz.iot.think.model.show.DistrictsKeyValue" >
      <result column="province_name" property="value"></result>
      <result column="province_id" property="code"></result>
    </association>
    <association property="cityName" javaType="com.rz.iot.think.model.show.DistrictsKeyValue">
      <result column="city_name" property="value"></result>
      <result column="city_id" property="code"></result>
    </association>
    <association property="districtName" javaType="com.rz.iot.think.model.show.DistrictsKeyValue">
      <result column="district_name" property="value"></result>
      <result column="district_id" property="code"></result>
    </association>
  </resultMap>

  <select id="findAll" resultMap="DetailResultMap">
    select t.*
    from
    (
    select
    area_rel.id area_rel_id,
    org.id,
    org.name,
    org.`describe`,
    org.create_time,
    org_parent.name parent_name,
    org_parent.id parent_id,
    area_rel.province_id,
    area_rel.city_id,
    area_rel.district_id,
    area_rel.province_name,
    area_rel.city_name,
    area_rel.district_name,
    concat(area_rel.province_name,area_rel.city_name,area_rel.district_name) area_name
    from sys_organization org
    left join iot_area_rel area_rel on area_rel.id = org.area_rel_id
    left join sys_organization org_parent on org.parent_id = org_parent.id
    where
    org.status = ${@com.rz.iot.think.utils.RzIotDBConstParam@DATA_STATUS_OF_NORMAL}
    ) t
    <where>
      <if test="iotRoleSettingOrganizationShowDetail.id!=null">
        and t.id = #{iotRoleSettingOrganizationShowDetail.id}
      </if>
      <if test="iotRoleSettingOrganizationShowDetail.areaName!=null and iotRoleSettingOrganizationShowDetail.areaName!=''">
        and t.area_name like concat('%',#{iotRoleSettingOrganizationShowDetail.areaName},'%')
      </if>
      <if test="iotRoleSettingOrganizationShowDetail.name!=null and iotRoleSettingOrganizationShowDetail.name!=''">
        and t.name like concat('%',#{iotRoleSettingOrganizationShowDetail.name},'%')
      </if>
    </where>
  </select>
</mapper>